.img1 {
	 height: 200px;
}
#video{
	display:none;
}

.videoView{
	border-radius: 20px;
}
#ho{
	border-radius: 20px;
}
#ho:hover {
	font-weight: bold;
}
#play-video{
	margin-top: 400px;
}
/*Logo*/
.brand-logo {
	max-height: 64px;
}
.fb_logo{
	height: 40px;
	width: 40px;
}
#myImage{
	position: absolute;
}
#rotating-item-wrapper {
    position: relative;
    width: 980px;
    height: 347px;
}
.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
#animated_div {
  display: block;
  margin:auto;
  margin-left: 30%;
  position: absolute;
  height: 40px;
  font-weight:
  font-size:10px;
  animation:animated_div 10s 2;
  -moz-animation:animated_div 10s 2;
  -webkit-animation:animated_div 10s 2;
  -o-animation:animated_div 10s 2;

}

@keyframes animated_div
{
0%		{transform: rotate(0deg);left:0px;}
25%		{transform: rotate(20deg);left:0px;}
50%		{transform: rotate(0deg);left:500px;}
55%		{transform: rotate(0deg);left:500px;}
70%		{transform: rotate(0deg);left:500px;}
100%	{transform: rotate(-360deg);left:0px;}
}

@-webkit-keyframes animated_div
{
0%		{-webkit-transform: rotate(0deg);left:0px;}
25%		{-webkit-transform: rotate(20deg);left:0px;}
50%		{-webkit-transform: rotate(0deg);left:500px;}
55%		{-webkit-transform: rotate(0deg);left:500px;}
70%		{-webkit-transform: rotate(0deg);left:500px;}
100%	{-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%   {-moz-transform: rotate(0deg);left:0px;}
25%  {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:500px;}
55%  {-moz-transform: rotate(0deg);left:500px;}
70%  {-moz-transform: rotate(0deg);left:500px;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div
{
0%   {transform: rotate(0deg);left:0px;}
25%  {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:500px;}
55%  {transform: rotate(0deg);left:500px;}
70%  {transform: rotate(0deg);left:500px;}
100% {transform: rotate(-360deg);left:0px;}
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #megasuper{
    float: top;
    width: 100%;
    height: auto;

  }
  #snoop{
  width: 1277px;
  height: 600px;
}
  #rocky{

    max-width: 100%;
    height:auto;
    height: 281px;
    
  }
  #drago{
    max-width: 100%;
    height: auto;
  }
  #rokis{
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    margin-right: 15px;
  }
   #dragas{
   border-radius: 20px;
   border-style: solid;
   border-color: white;
   margin-left: 15px;
  } 
  #team{
    font-style: italic; 
     }
  #playfair{
    display: inline;
  }
  #bicas{
    display:inline;
    float: left;
    margin: 10px;
  }
 
  main {
    flex: 1 0 auto;
  }
	h4 {
		text-align: center;
	}
	h6 {
		color: white;
	}


p {
    text-align: justify;
    text-indent: 2em;
}

html {
  background: scale-lightness(#0B353F, -30%);
}
  
#map {
  width: 100%;
  height: 300px;
  background-color: grey;
      }
#rightText{
  padding-top: 50px;
}
.back {
	height: 520px;
}
.pictu{
	border-radius: 25px;
}
#adr:hover{
	font-weight: bold;
}
.just {
	text-align: justify;
}
#news_footer{
  display:block;
  position: absolute;
  bottom: 0;
  height: 141px;
  width: 100%;
}
